-r requirements.txt
# Packaging
pyinstaller==6.11.1
twine==6.1.0
build==1.2.2.post1

# Profiling
snakeviz==2.2.2

# Used by kotonebot-devtool
python-lsp-server==1.12.0
wxpython==4.2.2

# Make resources
jinja2==3.1.5
dataclasses-json==0.6.7

# Extract game data
PyYAML==6.0.2
tqdm==4.67.1
pypika==0.48.9
UnityPy==1.21.3